@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;1,700&display=swap');

h5{
    font-family: "Balsamiq Sans";
    font-weight: 400;  
}

body{
    background-color: #85ff95;
}

h1{
    font-family: "Balsamiq Sans";
    font-weight: 700;  
}

footer{
    text-align: center;
}

body{
    background-color: #ff7f75;
}